{% load i18n %}

{% if category %}
    <h3 class="title">{{ category.title }}</h3>
{% endif %}

<ul>
    {% for link in links %}
        <li>
            <a href="{{ link.href }}" title="{{ link.description|safe }}">{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>
