{% spaceless %}
{% if meta.title or base_title %}
	<title>{% if meta.title %}{{ meta.title }}{% endif %}{% if meta.title and base_title %} | {% endif %}{{ base_title }}</title>
{% endif %}

{% if meta %}
	{% if meta.description %}
		<meta name="description" content="{{ meta.description|safe }}">
	{% endif %}
	{% if meta.keywords %}
		<meta name="keywords" content="{{ meta.keywords|safe }}">
	{% endif %}
	{% if meta.robot_tags %}
		<meta name="robots" content="{{ meta.robot_tags }}">
	{% endif %}
{% endif %}
{% endspaceless %}
