{% load i18n %}

<footer class="meta">
    <p>
    {% if job.customer %}
        {% if job.customer.website %}
            {% blocktrans with customer=job.customer.name customer_url=job.customer.website %}
                Realizado para 
                <a href="{{ customer_url }}" title="Visite o website do cliente">{{ customer }}</a>.
            {% endblocktrans %}
        {% else %}
            {% blocktrans with customer=job.customer.name %}
                Realizar para <strong>{{ customer }}</strong>.
            {% endblocktrans %}
        {% endif %}
    {% endif %}
    {% blocktrans with raw_pub_date=job.creation_date|date:"Y-m-d" pub_date=job.creation_date|date:"F \d\e Y" %}
        Em <time datetime="{{ raw_pub_date }}" pubdate>{{ pub_date }}</time>.
    {% endblocktrans %}

    {% if readmore %}
        <a href="{{ job.get_absolute_url }}" title="{% trans "Leia a descrição completa deste trabalho" %}">{% trans "Mais detalhes" %}</a>.
    {% endif %}
    </p>
</footer>

