{% extends "base.html" %}
{% load i18n core_extras %}

{% block content_class %}portfolio{% endblock %}

{% block content %}

{% for job in object_list %}
    <article class="job">
        {% include "portfolio/job_header.html" %}

        {% if job.thumbnail %}
            <div class="thumbnail">
                <a href="{{ job.get_absolute_url }}" title="{{ job.description|escape }}">
                    <img src="{{ job.thumbnail.url }}" alt="{% trans "Preview do website" %}">
                </a>
            </div>
        {% endif %}

        <div class="summary">{{ job.details|readmore|safe }}</div>

        {% include "portfolio/job_footer.html" with readmore=1 %}
    </article>
{% endfor %}

{% endblock %}
