.module {
    margin-bottom: 40px;
    .title { @include title(24px, 20px); }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        border-bottom: 1px solid #E5E5E5;
        line-height: 35px;
        padding-left: 15px;
    }
    a {
        @include transition;
        display: block;
        &:hover {
            padding-left: 20px;
            text-decoration: none;
        }
    }
}

.tagcloud {
    $tag-font-size: 10px;
    a {
        display: inline;
        font-size: $tag-font-size;
        &:hover {
            padding-left: 0;
            text-decoration: underline;
        }
        @for $i from 2 through 20 {
            &.tag-#{$i} { font-size: $tag-font-size + $i + 2; }
        }
    }
}
