$default-border-radius:         6px;
$default-text-shadow-color:     #CCCCCC;
$default-text-shadow-h-offset:  -1px;
$default-text-shadow-v-offset:  1px;
$default-text-shadow-blur:      1px;
$default-transition-duration:   .5s;
$default-transition-function:   ease-out;

$blueprint-grid-columns:    24;
$blueprint-grid-width:      30px;
$blueprint-grid-margin:     10px;
$blueprint-font-family:     Arial, Helvetica, sans-serif;
$blueprint-font-size:       14px;

$font-color:        #525252;
$link-color:        #FF2929;
$link-hover-color:  $link-color;
$link-active-color: $link-color;
$quiet-color:       #999999;

$menu-font-size:    16px;
$menu-link-color:   #181818;

@import "blueprint/reset";
@import "blueprint";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

@mixin block-link($color: $link-color, $font-size: $blueprint-font-size) {
    color:      $color;
    font-size:  $font-size;
}

@mixin rounded-link($font-size: $blueprint-font-size) {
    background: $link-color;
    @include block-link(white, $font-size);
    @include border-radius;
}

@mixin title($font-size, $margin-bottom: 10px) {
    font-size:      $font-size;
    font-weight:    normal;
    margin:         0 0 $margin-bottom 0;
    a {
        display:        block;
        line-height:    45px;
    }
}
