#footer {
    background: #2D2722;
    border-top: 2px solid #2D2722;
    color: #B0A792;
    clear: both;
    margin-top: 40px;
    padding: 30px;
    p { 
        font-size: 10px;
        margin-bottom: 1px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
    }
}
#made-with { margin-bottom: 20px; }
