#header {
    margin-bottom: 30px;
    padding-top: 70px;
    position: relative;
}

#logo {
    font: normal 42px Georgia, "Times New Roman", Times;
    margin: 0 0 0 15px;
    text-transform: lowercase;
    a {
        @include text-shadow;
        color: #2D2722;
        &:hover { text-decoration: none; }
    }
    span { color: $link-color; }
}

#quick-search { 
    position: absolute;
    bottom: 8px;
    right: 0;

    input {
        @include border-bottom-left-radius;
        @include border-top-left-radius;
        -webkit-appearance: initial;
        background: white;
        border: 1px solid #E5E5E5;
        color: #7F7F81;
        float: left;
        padding: 6px;
        width: 205px;
    }
    button {
        @include border-top-right-radius;
        @include border-bottom-right-radius;
        background: #E5E5E5;
        color: #999;
        border: 0;
        float: left;
        height: 31px;
        margin: 2px 0 0 0;
        text-transform: lowercase;
    }
}
