#menu {
    left: 0;
    margin: 15px 0 25px 0;
    position: absolute;
    top: 0;
    ul { 
        @include inline-block-list;
    }
    a {
        @include block-link($menu-link-color, $menu-font-size);
        @include text-shadow;
        @include transition;
        display: block;
        padding: 1px 30px;
        text-transform: lowercase;
        &:hover { 
            color: $link-color;
            text-decoration: none;
            text-shadow: none;
        }
    }
    .current a {
        @include rounded-link($menu-font-size);
        text-shadow: none;
    }
}
