@import "partials/base";

@include blueprint;

/* Base styles
 * ----------------------------------------------------------------------- */
blockquote, pre {
    background: #F9F9D4;
    overflow: auto;
    padding: 20px;
}
h2, h3, h4, h5, h6 {
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 15px 0;
}
h2, h4, h6 { font-weight: bold; }
input[type="submit"], button { cursor: pointer; }

blockquote {
    margin: 0 0 20px 0;
}
body a { @include hover-link; }
h2 { font-size: 21px; }
input, textarea { font-size: $blueprint-font-size; }
input[type="url"] { @extend input.text; }
label { display: block; }
p {
    margin: 0 0 14px 0;
    line-height: 26px;
}

/* Partials
 * ----------------------------------------------------------------------- */
@import "partials/header";
@import "partials/menu";
@import "partials/aside";
@import "partials/footer";

/* Content
 * ----------------------------------------------------------------------- */
.job, .post {
    margin-top: 40px;
    &:first-child { margin-top: 0; }
    img { border: 6px solid #E1F1F6; }
    .info {
        @include inline-block;
        width: 390px;
    }
}

#content { margin-right: 50px; }

.button {
    @include border-radius;
    @include single-box-shadow(#CCCCCC, 1px, 1px, 1px);
    background: #E5E5E5;
    border: 1px solid #999;
    padding: 5px 10px;
}

.center { text-align: center; }

.float-left {
    float: left;
    margin: 0 20px 10px 0;
}
.float-right {
    float: right;
    margin: 0 0 10px 20px;
}

.highlight {
    background: #F5F5F5;
    border: 1px solid #EEE;
    margin-bottom: -20px;
    padding: 5px 10px;
}

.info {
    a {
        text-decoration: underline;
        &:hover { text-decoration: none; }
    }
}

.messages {
    list-style: none;
    padding-left: 0;
}

.meta {
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    font-size: 11px;
    font-style: italic;
    padding: 20px 10px;
    p {
        margin: 0;
        line-height: 0;
    }
}

.pagination {
    padding-top: 40px;
    a {
        display: inline-block;
        padding: 5px 12px;
        &.current {
            @include rounded-link($menu-font-size);
            &:hover { text-decoration: none; }
        }
    }
}

.tags {
    color: $quiet-color;
    font-style: italic;
    font-size: 12px;
    position: relative;
    margin: 0 0 2px 0;
    top: -15px;
}

.title {
    @include title(34px);
    @include text-shadow;
}

/* Post
 * ----------------------------------------------------------------------- */
#comments .title, #respond .title {
    font-size: 26px;
    a { display: inline; }
}

#respond {
    border-top: 1px solid #E5E5E5;
    padding: 20px 0;
}

.comment {
    margin-bottom: 30px;
    div {
        background: #F5F5F5;
        padding: 10px;
    }
    header { margin-bottom: 10px; }
    p { margin-bottom: 8px; }
    time {
        font-style: italic;
        font-size: 12px;
    }
}

.comment-title {
    font-size: 14px;
    margin-bottom: 0;
}

.post-detail .post { margin-bottom: 40px; }

/* Portfolio
 * ----------------------------------------------------------------------- */
.preview, .thumbnail {
    margin-bottom: 10px;
    text-align: center;
}

.professional-details {
    font-style: italic;
    font-size: 12px;
    padding: 20px 20px 10px 20px;
    dt, dd { @include inline-block; }
    dt { width: 160px; }
    dd {
        margin-bottom: 10px;
        width: 400px;
    }
}

/* Search
 * ----------------------------------------------------------------------- */
.result {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    p {
        color: #999;
        font-size: 10px;
        margin-bottom: -5px;
        text-transform: uppercase;
    }
    .title { font-size: 28px; }
}
