{% extends "base.html" %}
{% load i18n %}

{% block content_class %}search{% endblock %}

{% block content %}
    <h2 class="title">{% trans "Resultados da busca" %}</h2>

    {% if query %}
        {% for result in page.object_list %}
            <div class="result">
                {% if result.content_type == "diario.entry" %}
                    {% include "search/includes/entry.html" %}
                {% endif %}
                {% if result.content_type == "portfolio.job" %}
                    {% include "search/includes/job.html" %}
                {% endif %}
            </div>
        {% empty %}
            <p class="notice">{% blocktrans with q=form.q.value %}A sua busca por "{{ q }}" não retornou resultados.{% endblocktrans %}</p>
        {% endfor %}
    {% else %}
        <p class="notice">{% trans "Utilize o campo de busca, no canto superior direito, para fazer a sua pesquisa." %}</p>
    {% endif %}

    {% include "pagination.html" with page_obj=page q=form.q.value is_paginated=page.has_other_pages %}
{% endblock %}
