{% extends "base.html" %}
{% load i18n %}

{% block content_class %}contact{% endblock %}

{% block content %}
    <section>
        <h2 class="title">{% trans "Contato" %}</h2>

        {% include "messages.html" %}

        <p>{% blocktrans %}Dúvidas? Sugestões? Precisando de um Freelancer? 
        Entre em contato comigo através do formulário abaixo. Assim que possível
        entrarei em contato.{% endblocktrans %}</p>

        <form action="{% url contact:contact %}" method="post" id="contact-form">
            {% csrf_token %}

            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {{ field.errors }}
                </p>
            {% endfor %}

            <p>
                <input type="submit" value="{% trans "Enviar" %}" class="button">
            </p>
        </form>
    </section>
{% endblock %}
