{% extends "base.html" %}
{% load i18n %}

{% block meta %}
    <title>{% trans "Página não encontrada" %} | Klaus Laube</title>
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content_class %}error404{% endblock %}

{% block content %}
    <section>
        <h2 class="title">{% trans "A página solicitada não foi encontrada" %}</h2>

        <p>{% trans "A URL requisitada não foi encontrada em nossos servidores." %}</p>

        <p><a href="{% url diario-entry-list %}"
            title="{% trans "Página inicial" %}">{% trans "Ir para a página inicial" %}</a>
        </p>
    </section>
{% endblock %}
