{% load i18n diario_tagged links_extras %}

<section class="module">
    {% link_list "encontre-me-em" %}
</section>

<section class="module">
    {% link_list "blogroll" %}
</section>

{% tag_cloud_for_entries as entries_tags with steps=20 min_count=2 distribution=linear %}
{% if entries_tags %}
    <section class="module">
        <h3 class="title">{% trans "Tags" %}</h3>

        <div class="tagcloud">
        {% for tag in entries_tags %}
        <a href="{% url diario-tagged-entry-list tag=tag %}" title="{{ tag }}" class="tag-{{ tag.font_size }}">{{ tag }}</a>
        {% endfor %}
        </div>
    </section>
{% endif %}
