{% load i18n compress seohelper_extras %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% block meta %}{% seo_header request.path %}{% endblock %}
    <meta name="author" content="Klaus Laube <kplaube [at] gmail [dot] com>" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />

    {% compress css %}
        {% block compressed_styles %}
            <link href="{{ STATIC_URL }}css/screen.css" media="screen, projection" rel="stylesheet" />
        {% endblock %}
        {% block styles %}
            <link href="{{ STATIC_URL }}css/print.css" media="print" rel="stylesheet" />
            <!--[if lt IE 8]>
                <link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" />
            <![endif]-->
        {% endblock %}
    {% endcompress %}

    {% block head_scripts %}
        <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
    {% endblock %}

    {% block extras %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- root -->
<div id="root" class="container">
    <!-- header -->
    <header id="header" class="span-24 last">
        <!-- menu -->
        <nav id="menu">
            {% include "menu.html" with path=request.path %}
        </nav>
        <!-- end #menu -->

        <!-- logo -->
        <hgroup class="span-24 last">
            <h1 id="logo">
                <a href="{% url diario-entry-list %}" title="{% trans "Página inicial" %}">Klaus <span>Laube</span></a>
            </h1>
            <h2 class="hide">{% trans "Pythonista, Djangonauta e defensor dos padrões Web" %}</h2>
        </hgroup>
        <!-- end #logo -->

        <!-- quick-search -->
        {% include "quick_search.html" %}
        <!-- end #quick-search -->
    </header>
    <!-- end #header -->

    <!-- main -->
    <div id="main" class="span-24 last">
        {% block content_wrap %}
        <!-- content -->
        <div id="content" role="main" class="span-16 {% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
        <!-- end #content -->
        {% endblock %}

        {% block aside_wrap %}
        <!-- aside -->
        <aside id="aside" class="span-7 last {% block aside_class %}{% endblock %}">
            {% block aside %}
                {% include "aside.html" %}
            {% endblock %}
        </aside>
        <!-- end #aside -->
        {% endblock %}
    </div>
    <!-- end #main -->
</div>
<!-- end #root -->

<!-- footer -->
<footer id="footer">
    <!-- container -->
    <div class="container">
        {% comment %}
        <nav class="col module">
            <h4 class="title">Consectetuer</h4>

            <ul>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Aliquam libero</a></li>
            </ul>
        </nav>
        {% endcomment %}

        <div id="made-with">
            <p>{% blocktrans %}
                Funcionando com
                <a href="http://python.org/" title="Linguagem de programação Python">Python {{ PYTHON_VERSION }}</a> /
                <a href="http://www.djangoproject.com/" title="Framework Web para perfeccionistas com deadlines">Django {{ DJANGO_VERSION }}</a> /
                <a href="https://bitbucket.org/semente/django-diario/src" title="Engine de Blog para Django">django-diario {{ DIARIO_VERSION }}</a>.
                O código deste website é open source, e está disponível no 
                <a href="https://bitbucket.org/kplaube/klauslaube.com.br" title="Visite o repositório">Bitbucket</a>.
            {% endblocktrans %}</p>

            <p>{% blocktrans %}Estilos inspirados no <em>prepaid</em>, por
                <a href="http://www.freecsstemplates.org/" title="Free CSS Templates">CSS Templates</a>.
            {% endblocktrans %}</p>
        </div>

        <div id="copyright">{% blocktrans %}
            <p>O conteúdo deste blog está sob a licença 
                <a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR"
                title="Leia mais sobre a licença de uso do conteúdo deste blog">Creative 
                Commons Atribuição 3.0</a>.</p>
            <p>Compartilhe, modifique, usufrua. Mas
            mencione o autor.</p>
        {% endblocktrans %}</div>
    </div>
    <!-- end .container -->
</footer>
<!-- end #footer -->

<!-- scripts -->
{% block jquery_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js"></script>
<script>window.dojo || document.write('<script src="{{ STATIC_URL }}js/libs/dojo-1.7.1.min.js"><\/script>')</script>
{% endblock %}

{% compress js %}
    {% block compressed_scripts %}
    <script defer src="{{ STATIC_URL }}js/script.js"></script>
    {% endblock %}

    {% block scripts %}{% endblock %}
{% endcompress %}

{% block google_analytics_scripts %}
<script>
    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS_KEY }}'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endblock %}

{% block crossbrowser_scripts %}
<!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
{% endblock %}

<!-- end scripts -->
</body>
</html>
