{% load i18n core_extras %}

<ul>
    <li class="{% current path "^/((\d{4})/(\d{2})/(\d{2})/([-\w]+)/|tag/([-\w]+)/)?$" %}">
        <a href="{% url diario-entry-list %}" title="{% trans "Leia posts escritos por mim" %}">{% trans "Blog" %}</a>
    </li>
    <li class="{% current path "^/portfolio/" %}">
        <a href="{% url portfolio:job_list %}" title="{% trans "Confira os meus trabalhos" %}">{% trans "Portfolio" %}</a>
    </li>
    <li class="{% current path "^/sobre/$" %}">
        <a href="/sobre/" title="{% trans "Saiba mais sobre a minha pessoa" %}">{% trans "Sobre" %}</a>
    </li>
    <li class="{% current path "^/contato/$" %}">
    <a href="{% url contact:contact %}" title="{% trans "Fale comigo!" %}">{% trans "Contato" %}</a>
    </li>
</ul>
