{% load i18n %}

{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}"
                title="{% trans "Página anterior" %}">&lt; {% trans "Anterior" %}</a>
        {% endif %}

        {% for i in paginator.page_range %}
            <a href="{{ request.path }}?page={{ i }}{% if q %}&q={{ q }}{% endif %}"
                title="{% blocktrans %}Ir para a página {{ i }}{% endblocktrans %}"
                {% if page_obj.number == i %}class="current"{% endif %}>{{ i }}</a>
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}"
                title="{% trans "Próxima página" %}">{% trans "Próxima" %} &gt;</a>
        {% endif %}
    </div>
{% endif %}

