{% load i18n %}

<form id="quick-search" action="/busca/" method="get">
    <p>
        <input type="search" id="q_id" name="q" placeholder="{% trans "informe a palavra-chave..." %}"
            {% if form.q.value %}value="{{ form.q.value }}"{% endif %}>
        <button type="submit">{% trans "Buscar" %}</button>
    </p>
</form>
