{% load comments i18n %}

<form id="comment-form" action="{% comment_form_target %}" method="post">
    {% csrf_token %}

    <div class="hidden">
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </div>

    {% with field=form.name %}
        <p>
            {{ field.label_tag }}

            <input type="text" id="id_name" name="name" maxlength="50"
                {% if field.value %}value="{{ field.value }}"{% endif %}
                placeholder="{% trans "Seu nome ou apelido" %}" required>

            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {{ field.errors }}
        </p>
    {% endwith %}

    {% with field=form.email %}
        <p>
            {{ field.label_tag }}

            <input type="email" id="id_email" name="email"
                {% if field.value %}value="{{ field.value }}"{% endif %}
                placeholder="{% trans "seu-email@provedor.com.br" %}" required>

            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {{ field.errors }}
        </p>
    {% endwith %}

    {% with field=form.url %}
        <p>
            {{ field.label_tag }}

            <input type="url" id="id_url" name="url"
                {% if field.value %}value="{{ field.value }}"{% endif %}
                placeholder="{% trans "http://seu-website.com.br" %}">

            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {{ field.errors }}
        </p>
    {% endwith %}

    {% with field=form.comment %}
        <p>
            {{ field.label_tag }}

            <textarea id="id_comment" name="comment" rows="10" cols="40"
                required placeholder="{% trans "Seu comentário..." %}">{% if field.value %}{{ field.value }}{% endif %}</textarea>

            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {{ field.errors }}
        </p>
    {% endwith %}

    {% with field=form.honeypot %}
        <p>
            {{ field.label_tag }}

            {{ field }}

            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {{ field.errors }}
        </p>
    {% endwith %}

    <p>
        <input type="submit" name="submit" value="{% trans "Enviar" %}" class="button">
    </p>
</form>
