{% for comment in comment_list %}
    <article class="comment">
        <header>
            <h4 class="comment-title">
                {% if comment.user_url %}
                <a href="{{ comment.user_url }}" rel="nofollow">{{ comment.user_name }}</a>:
                {% else %}
                    {{ comment.user_name }}:
                {% endif %}
            </h4>

            <time pubdate datetime="{{ comment.submit_date|date:"Y-m-d H:i:s" }}">
                {{ comment.submit_date|date:"l, d \d\e F \d\e Y. H:i" }}
            </time>
        </header>

        <div>{{ comment.comment|linebreaks }}</div>

    </article>
{% endfor %}
