{% extends "comments/base.html" %}
{% load i18n seohelper_extras %}

{% block meta %}{% seo_custom_header "Envio de comentários" %}{% endblock %}

{% block content %}
    <h2 class="title">{% trans "Envio de comentários" %}</h2>

    {% if form.errors %}
        <p>{% trans "Por favor, verifique se o formulário abaixo está com os campos obrigatórios preenchidos"  %}.</p>
    {% endif %}

    {% include "comments/form.html" %}
{% endblock %}
