{% extends "base.html" %}
{% load i18n comments core_extras %}

{% block content_class %}posts{% endblock %}

{% block content %}

{% for entry in entry_list %}
    <article class="post">
        {% include "diario/entry_header.html" %}

        <div class="summary">{{ entry.body|readmore|safe }}</div>

        <footer class="meta">
            <p>
            {% blocktrans with author=entry.author.first_name datetime=entry.pub_date|date:"Y-m-d" pub_date=entry.pub_date|date:"d \d\e F \d\e Y" %}
                Por <strong>{{ author }}</strong> em <time datetime="{{ datetime }}" pubdate>{{ pub_date }}</time>.
            {% endblocktrans %}
            {% if entry.enable_comments %}
                {% get_comment_count for entry as comment_count %}
                <a href="{{ entry.get_absolute_url }}#comments"
                    title="{% trans "Leia os comentários" %}">{% if comment_count %}{% trans "Comentários" %} ({{ comment_count }}){% else %}{% trans "Nenhum comentário" %}{% endif %}</a>.
            {% endif %}
            <a href="{{ entry.get_absolute_url }}" title="{% trans "Leia este artigo completo" %}">{% trans "Artigo completo" %}</a>.
            </p>
        </footer>
    </article>
{% empty %}
    <p class="notice">{% trans "Não há artigos para serem exibidos." %}</p>
{% endfor %}

{% include "pagination.html" %}

{% endblock %}
