{% extends "base.html" %}
{% load i18n comments seohelper_extras %}

{% block meta %}{% seo_header request.path entry %}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        dojo.ready(function() {
            App.Entry();
        });
    </script>
{% endblock %}

{% block content_class %}post-detail{% endblock %}

{% block content %}
    <article class="post">
        {% include "diario/entry_header.html" %}

        <div class="complete">{{ entry.body|safe }}</div>

        <footer class="meta">
            <p>
            {% blocktrans with author=entry.author.first_name raw_pub_date=entry.pub_date|date:"Y-m-d" pub_date=entry.pub_date|date:"d \d\e F \d\e Y" %}
                Por <strong>{{ author }}</strong> em <time datetime="{{ raw_pub_date }}" pubdate>{{ pub_date }}</time>.
            {% endblocktrans %}
            </p>
        </footer>
    </article>

    {% if entry.enable_comments %}
        {% get_comment_count for entry as comment_count %}
        <section id="comments">
            <h3 class="title">
                {% if comment_count %}
                    {% blocktrans %}{{ comment_count }} comentários. <a href="#respond" title="Deixe um comentários">Deixe o seu!</a>{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Nenhum comentário. <a href="#respond" title="Deixe um comentário">Seja o primeiro!</a>{% endblocktrans %}
                {% endif %}
            </h3>

            {% render_comment_list for entry %}
        </section>

        <section id="respond">
            <h3 class="title">{% trans "Deixe o seu comentário" %}</h3>

            {% with entry.get_absolute_url as next %}
                {% render_comment_form for entry %}
            {% endwith %}
        </section>
    {% endif %}

{% endblock %}
