{% extends "base.html" %}
{% load i18n seohelper_extras %}

{% block meta %}{% seo_header request.path flatpage %}{% endblock %}

{% block content_class %}posts{% endblock %}

{% block content %}
    <article class="post">
        <h2 class="title">{{ flatpage.title }}</h2>

        {{ flatpage.content|safe }}

    </article>
{% endblock %}
