{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block title %}{% trans "Add image" %}{% endblock %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block content_title %}<h1>{% trans "Add image" %}</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../">{% trans "Home" %}</a> &rsaquo;
    <a href="../">Media Manager</a> &rsaquo;
    {% trans "Add" %}
</div>
{% endblock %}

{% block content %}<div id="content-main">
    <form action="" method="post" enctype="multipart/form-data" id="media-manager-add-form">
        {% csrf_token %}
        {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

        <fieldset class="aligned module wide">
            <div class="form-row upload_to">
                {{ form.upload_to.errors }}
                <div>
                    <label for="id_upload_to" class="required">{% trans "Upload to" %}:</label>
                    {{ form.upload_to }}
                    {{ form.upload_to.help_text }}
                </div>
            </div>

            <div class="form-row image {% if form.image.errors %}errors{% endif %}">
                {{ form.image.errors }}
                <div>
                    <label for="id_image" class="required">{% trans "Image" %}:</label>
                    {{ form.image }}
                    {{ form.image.help_text }}
                </div>
            </div>

            <div class="form-row manipulation {% if form.manipulation.errors %}errors{% endif %}">
                {{ form.manipulation.errors }}
                <div>
                    <label for="id_manipulation" class="required">{% trans "Manipulation" %}:</label>
                    {{ form.manipulation }}
                    {{ form.manipulation.help_text }}
                </div>
            </div>
        </fieldset>

        <fieldset class="aligned module wide">
            <legend>{% trans "Image manipulation" %}</legend>

            <div class="form-row width {% if form.width.errors %}errors{% endif %}">
                {{ form.width.errors }}
                <div>
                    <label for="id_width">{% trans "Width (px)" %}:</label>
                    {{ form.width }}
                    {{ form.width.help_text }}
                </div>
            </div>

            <div class="form-row height {% if form.height.errors %}errors{% endif %}">
                {{ form.height.errors }}
                <div>
                    <label for="id_height">{% trans "Height (px)" %}:</label>
                    {{ form.height }}
                    {{ form.height.help_text }}
                </div>
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Salvar" class="default" name="_save">
        </div>
    </form>
</div>{% endblock %}
